.input-table {
    display: flex;
    justify-content: center;
    margin: 26px;
    align-items: center;
}
table,
tr,
th,
td {
  border: 1px solid #6CC4A1;
  background-color: rgba(81, 81, 81, 0.5);
  color: white;
  text-align: center;
}
td,th{
    padding: 12px;
}
th{
  font-size: 14px;
}
.custom-width{
  width: fit-content;
}
.static{
  background-color: white;
  box-shadow: 0 0 2px white;
  color: black;
  border: none;
  border-radius: 0.2rem;
  padding: 4px 8px;
  font-size: 0.875rem;
}
.land{
  width: 9%;
  box-shadow: 0 0 2px white;
}
.land-scroll{
  height: auto;
  border-radius: 0.2rem;
  min-width: 6.8%;
  font-size: 12px;
}
.imp{
  width: 9%;
  box-shadow: 0 0 2px white;
  font-size: 12px;
}
.imp-scroll {
  height: auto;
  min-width: 6.8%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.file{
  width: 12.4%;
  box-shadow: 0 0 2px white;
}
.file-scroll {
  height: auto;
  min-width: 10%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.court{
  width: 16%;
  box-shadow: 0 0 2px white;
}
.court-scroll {
  min-width: 13.5%;
  font-size: 12px;
  height: auto;
  border-radius: 0.2rem;
}
.judge{
  width: 13.7%;
  box-shadow: 0 0 2px white;
}
.judge-scroll {
  height: auto;
  min-width: 11.2%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.hall{
  width: 19.2%;
  box-shadow: 0 0 2px white;
}
.hall-scroll {
  height: auto;
  min-width: 16.4%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.button-table,.button-row,.button-data{
  background-color: #a0d995e4;
}
.button-data{
  color: black;
  text-shadow: 0 0 2px white;
  font-weight: bold;
  font-size: 14px;
}
.button-data:hover{
  background-color: rgba(81, 81, 81, 0.5);
  color: white;
  text-shadow: 0 0 2px #6CC4A1;
}
.specific-parent{
  margin: 26px;
}
.specific-button-container{
  display: flex;
  justify-content: center;
  margin: 16px;
}
.specific-button{
  width: 100px;
  text-decoration: none;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  background-color: rgb(131, 209, 88);
  border: 1px solid #6CC4A1;
  box-shadow: 0 0 8px #6CC4A1;
  text-align: center;
}
.specific-button:hover{
  cursor: pointer;
  box-shadow: 0 0 12px #6CC4A1;
}
.intro-heading{
  display: flex;
  justify-content: center;
  margin: 16px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(81, 81, 81);
}
.entry{
  display: flex;
  justify-content: center;
  margin: 8px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 0, 0);
}
.add-table{
  text-decoration: none;
  border: 0;
  padding: 2px 16px;
  border-radius: 0.2rem;
  background-color: rgb(98, 203, 98);
  color: rgb(81, 81, 81);
  font-weight: bolder;
  border: 1px solid white;
  box-shadow: 0 0 8px white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
.add-table,.remove,.tick{
  width: 46px;
}