.input-table {
    display: flex;
    justify-content: center;
    margin: 26px;
    align-items: center;
}
table,
tr,
th,
td {
  border: 1px solid #6CC4A1;
  box-shadow: 0 0 4px #6CC4A1;
  background-color: rgba(81, 81, 81, 0.5);
  color: white;
  text-align: center;
}
td,th{
    padding: 12px 22px;
}
th{
  font-size: 14px;
}
.custom-width{
  width: fit-content;
}
.static{
  background-color: white;
  box-shadow: 0 0 2px white;
  color: black;
  border: none;
  border-radius: 0.2rem;
  padding: 4px 8px;
  font-size: 0.875rem;
  text-align: center;
}
.land{
  width: 9%;
  box-shadow: 0 0 2px white;
}
.land-scroll{
  height: auto;
  border-radius: 0.2rem;
  min-width: 5.7%;
  font-size: 12px;
}
.imp{
  width: 9%;
  box-shadow: 0 0 2px white;
}
.imp-scroll {
  height: auto;
  min-width: 5.8%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.file{
  width: 10.5%;
  box-shadow: 0 0 2px white;
}
.file-scroll {
  height: auto;
  min-width: 3%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.court{
  width: 14.2%;
  box-shadow: 0 0 2px white;
}
.court-scroll {
  min-width: 10%;
  font-size: 12px;
  height: auto;
  border-radius: 0.2rem;
}
.judge{
  width: 13.4%;
  box-shadow: 0 0 2px white;
}
.judge-scroll {
  height: auto;
  min-width: 10%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.hall{
  width: 17.4%;
  box-shadow: 0 0 2px white;
}
.hall-scroll {
  height: auto;
  min-width: 10%;
  font-size: 12px;
  border-radius: 0.2rem;
}
.button-table,.button-row,.button-data{
  background-color: #a0d995e4;
}
.button-data{
  color: black;
  text-shadow: 0 0 2px white;
  font-weight: bold;
  font-size: 14px;
}
.button-data:hover{
  background-color: rgba(81, 81, 81, 0.5);
  color: white;
  text-shadow: 0 0 2px #6CC4A1;
}
.specific-parent{
  margin: 6px;
}