* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #F6FBF4;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

