.status-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.status-scroll{
    height: auto;
    overflow-x: hidden;
    width: 66.2%;
    border-radius: 0.2rem;
}
.status-input{
    width: 36%;
}