.home-parent{
    display: flex;
    padding: 24px;
    height: 90vh;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0d995e4;
    text-shadow: 0 0 3px #6CC4A1;
    font-size: 44px;
    font-weight: 800;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
}