.nav-parent{
  display: flex;
  background: #a0d995e4;
  justify-content: space-around;
  align-items: center;
  padding: 4px 16px;
  height: 10vh;
}
.nav-parent ::after{
    content: '';
    display: table;
    clear:both;
}
.intro{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav_logo{
  cursor: pointer;
  float: left;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
}
.company{
  color: rgb(55, 55, 55);
  text-shadow: 0 0 2px #6CC4A1;
  font-weight: bolder;
  margin-left: 8px;
  font-size: 26px;
  width: max-content;
}
.tab-container {
  width: 80%;
  margin: 0 54px;
}
.nav-parent::after {
  content: '';
  display: table;
  clear:both;
}

.nav-options{
  margin:0;
  padding: 0;
  list-style: none;
}

.tab-items{
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  padding: 9px 12px;
}
.tab-link{
  color: rgb(69, 69, 69);
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}
.sub-link{
  color: rgb(81, 81, 81);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}
.nav_options link::before {
  content:'';
  display:block;
  height:5px;
  width:100%;
  background-color: #F6FBF4;

  position:absolute;
  top: -4px;
  width:0%;

  transition: all ease-in-out 0.22s;
}

.nav_options link:hover::before {
  width:66%;
  text-decoration: none;
}

.tab-link:hover::before {
  width:66%;
  text-decoration: none;
}
.sub-link:hover{
  color: #a0d995e4;
}
.subnav{
  position: absolute;
  border: 1px solid #6CC4A1;
  box-shadow: 0 0 8px #6CC4A1;
  padding: 10px 0px;
  min-width: 194px;
  display: none;
  top: 7.5vh;
  overflow: hidden;
  background-color: rgba(245, 247, 237,0.9);
  list-style: none;
}
.report-nav{
  position: absolute;
  border: 1px solid #6CC4A1;
  box-shadow: 0 0 8px #6CC4A1;
  padding: 10px 0px;
  min-width: 194px;
  display: none;
  top: 7.5vh;
  left: 46vh;
  overflow: hidden;
  background-color: rgba(245, 247, 237,0.9);
  list-style: none;
}
ul li:hover ul{
  display: block;
}
.sub-items{
  margin-left: 28px;
  padding: 8px;
  text-align: justify;
}
.intro-parent{
  display: flex;
  align-items: center;
}
.officer{
    color: rgb(55, 55, 55);
    text-shadow: 0 0 1px #6CC4A1;
    font-weight: bold;
    margin-right: 16px;
    font-size: 22px;
    width: max-content;
  
}
.logout{
  color: rgb(81, 81, 81);
  text-decoration: none;
  padding: 9px 25px;
  background-color: #F6FBF4;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.22s ease 0s;
  font-weight: bold;
}

.logout:hover{
  color: white;
  background-color: rgb(131, 209, 88);
  border: 1px solid #6CC4A1;
  box-shadow: 0 0 8px #6CC4A1;
}
